@import fonts
  
body 
  font-family: SfProDisplayRegular, sans-serif!important


.header__logo-span 
  color: #FF4343

.header__nav-item
  text-decoration: none
  color: #141414
  cursor: pointer
  &._is-active 
    color: #FF4343
    border-bottom: 1px solid #FF4343